html{
  min-height: 100%;
  box-sizing: border-box;
}
body{
  background: #cccccc;
  color: black;
  margin: 0 100px;
}
nav{
  padding-bottom: 80px;
  background: #fff;
}
nav h1{
  float: left;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.7px;
  margin-top: 15px;
  margin-left: 30px;
  color: #170069;
  border-bottom: 2px solid #000
}
nav h1 span{
  color: #0099ff
}
nav ul {
 background: #ffffff;
 margin: 10px 0;
 padding: 10px 0;
 float: right;
 overflow: hidden;
 margin-right: 100px
}
nav ul li{
  list-style: none;
  display: inline;
  margin: 0 10px;
  overflow: hidden;
}
nav ul li a{
  text-decoration: none;
  color: #0099ff;
  font-size: 25px;
  font-weight: bold;
}

.text-header{
  text-align: center;
  background: #999;
  padding: 10px 0;
  color: #ffffff;
  margin-bottom: 20px;
}
.text-header h1{
  font-size: 50px;
}
.section{
  background: #fff;
  margin-top: -20px;
    padding: 20px 0;
}
.section .section-un .section-image{
  margin: 0 0px;
  display: inline-block;
  margin-left: 75px;
}
.section .section-un .section-image .images{
  
  width: 500px;
  height: auto;
  margin: 10px 0;
}
.section .section-deux{
  background: #0099ff;
  color: #ffffff;
  padding: 20px 0;
}
.section .section-deux .contact .info{
  margin-left: 50px;
    font-size: 18;
    font-size: 18px;
    color: #000;
    line-height: 1.7;
}
.footer{
  background: #fff;
  padding: 1px 0;
  text-align: center;
}
#agence{
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 100px;
}
#agence th{
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #4CAF50;
  color: white;
}
#agence td{
  border: 1px solid #fff;
  padding: 15px;
  text-align: left;
}
.about a{
  text-decoration: none;
  color: #4CAF50
}
/*role a repeter*/

.title, .desc{
  text-align: center;
}
